<div class="container">
    <div class="calculator">
        <h1 appImp>CALCULATOR</h1>

        <label for="">Number1</label>
        <input type="number" [(ngModel)]="num1">
        <br><br>
        <label for="">Number2</label>
        <input type="number" [(ngModel)]="num2">
        <br><br>
        <button (click)="sum()">Sum</button>
        <button (click)="mul()">Mul</button>
        <button (click)="sub()">Sub</button>
        <button (click)="div()">Div</button>

        <h1>Result:_____{{result}}</h1>
    </div>
</div>
