.parent{
    background-color: rgb(89, 91, 91);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
h1{
    color: #e61515;
}
.login{
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 500px;
    height: 400px;
    padding: 15px;
    margin: auto;
    text-align: center;
    background-color: rgb(207, 197, 197);
    
    

}
label{
    font-size: 30px;
    width: 150px;
    font-family: Courier, monospace;
    color: #e61515;
}
.login input{
    padding: 20px;
    margin: 10px;
    width: 300px;
    border: 0;
    border-radius: 5px;
    flex: 1;

}
button{
    text-align: center;
    border-radius: 8px;
    /* margin: 30px; */
    margin-top: 40px;
    margin-left: 80px;
    width: 150px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 189, 53);
    cursor: pointer;
}