<h1>update account list through apis</h1>
<div class="parent">
<form [formGroup]="accountform">

    <label>AccountName</label>
    <input type="text" formControlName="account_name"><br>
    <label>Available balance</label>
    <input type="text" formControlName="available_balance"><br>
    <label>Account number</label>
    <input type="text" formControlName="account_number"><br>
    <label>city</label>
    <input type="text" formControlName="city"><br>

    <button class="btn btn-info" (click)="submit()">Submit</button>











</form>
</div>
