
<h1>Form</h1>
<div class="parent">
<form [formGroup]="vehicleForm">
<label>Vehicle</label>
<input type="text" formControlName="Vehicle"><br>
<label>Manufacturer</label>
<input type="text" formControlName="manufacturer"><br>
<label>Model</label>
<input type="text" formControlName="model"><br>
<label>Type</label>
<input type="text" formControlName="type"><br>
<label>Fuel</label>
<input type="text" formControlName="fuel"><br>
<label>Color</label>
<input type="text" formControlName="color"><br>
<button class="btn btn-primary" (click)="submit()">Submit</button>
</form>
</div>












