<h1> User Form</h1>
<div class="parent">
<form [formGroup]="userForm">
   <label>Name</label>
   <input type="text" formControlName="name"><br>
   <label>phone</label>
   <input type="text" formControlName="phone"><br>
   <label>city</label>
   <input type="text" formControlName="city"><br>
   <label>fee</label>
   <input type="text" formControlName="fee"><br>
   <label>id</label>
   <input type="text" formConntrolName="id"><br>

   <button class="btn btn-primary" (click)="submit()">Submit</button>











</form>

</div>

