.dice{
    /* border: 2px solid blue; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(7, 6, 6);
    background-color: black;
    height: 400px;
    width: 400px;

}
.random{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to top red 50%,green 40%, blue 70%,pink 30%);

}
 .butt{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(216, 40, 9);
}
.dice img{
    align-items: center;
    margin-left: 100px;
}