<p>randomnumber works!</p>

<div class="random">

  <div class="dice">
    <div class="butt">
     <button class="btn btn-info" (click)="randomnumber()">PLAY</button>
    </div>
     <br><br>

    <img src="assets\dice1.png" alt="" *ngIf="num1==1">
    <img src="assets\dice2.png" alt=""  *ngIf="num1==2">
    <img src="assets\dice3.png" alt="" *ngIf="num1==3">
    <img src="assets\dice4.png" alt="" *ngIf="num1==4">
    <img src="assets\dice5.png" alt="" *ngIf="num1==5">
    <img src="assets\dice6.png" alt="" *ngIf="num1==6">
</div>
</div>