<div class="parent">
    <div class="iphone">
        <div class="messege">
            <h1>MESSEGES</h1>
        </div>

        <div>
            <input type="search" placeholder="search people here" [(ngModel)]="searchTerm" (keypress)="getfilteredUsers()" class="search1"/>
        </div>

        <div class="data" *ngFor="let u of user">
            <img [src]="u.picture.thumbnail" alt="">
            <div>
                <h3>{{u.name.first}} {{u.name.last}}</h3>
                <p>{{u.cell}}</p>
            </div>


        </div>
    </div>
</div>
<div *ngIf="getfilteredUsers.length === 0 && searchTerm.length>0">
    <p>No User Found</p>
</div>