<div class="contain">
    <div class="left">
        <h1>My website</h1>
        <hr>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="about">About</h2>
        <h2 routerLink="data-binding">Data Binding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="rectangle">Rectangle</h2>
        <h2 routerLink="bmi">Bmi</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="table">Table</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="grades">Grades</h2>
        <h2 routerLink="randomnumber">Random number</h2>
        <h2 routerLink="bank">Bank</h2>
        <h2 routerLink="users">Users</h2>
        <h2 routerLink="vehicles">Vehicles</h2>
        <h2 routerLink="accountlist">Account List</h2>
        <h2 routerLink="flipkart">Flipkart</h2>
        <h2 routerLink="email">Email</h2>
        <h2 routerLink="bored">Bored</h2>
        <h2 routerLink="gallery">Gallery</h2>
        <h2 routerLink="dahl">Dahl</h2>
        <h2 routerLink="createvehicle">Create Vehicle</h2>
        <h2 routerLink="createuser">Create user</h2>
        <h2 routerLink="createaccount">Create Account</h2>
        <hr class="line-below">
        <div class="log">
            <button class="logout" (click)="logout()">Logout</button>
    
        </div>

    </div>
    
    <div class="right">
        <router-outlet></router-outlet>
        

    </div>
</div>




