<!-- <p>child works!</p> -->

<!-- {{ac}}

<h1>Getting value from parent</h1>
<input type="number" [(ngModel)]="bc" (keyup)="send()"> -->


<!-- <div>
    <img src="\assets\1star.jpg" *ngIf="rate == 1">
    <img src="\assets\2star.jpg" *ngIf="rate == 2">
    <img src="\assets\3 star.jpg" *ngIf="rate == 3">
    <img src="\assets\5star.jpg" *ngIf="rate == 5">
    <img src="\assets\4.5 star.jpg" *ngIf="rate == 4.5">


</div> -->

<br>
  
    <button class="btn btn-primary" (click)="sum()">Sum</button>
    <button class="btn btn-info" (click)="sub()">Sub</button>
    <button class="btn btn-success" (click)="mul()">Mul</button>
    <button  class="btn btn-danger" (click)="div()">Div</button>


